.App {
  text-align: center;
}


.summaryContainer {
  color: aliceblue;
  font-family: 'Rancho';

}
.description {
  color: aquamarine;
  font-size: 50px
}

.specialty {
  background-color: #282c34;
  height: auto;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 3vh;
  font-weight: bold;
  justify-content: space-around;
  margin-top: 50px;
  padding: 50px
}

.specialtyImage {
  height: 60%;
  width: 30%
}

.aboutContainer {
  color:white;
  margin-top: 10px;
}

.tangerineText {
  font-family: 'Tangerine'
}


.aboutMeImage {
  width: 30%;
  height:80%;
  border: 2px solid orange;
  
}
.header-color {
  background: #23074d;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.heroContainer {
  background-image: url("http://www.4usky.com/data/out/53/164464682-lake-wallpapers.jpg");
  width:"70%";
  height:"auto";
  opacity: .60
}

.verlaRound {
  font-family: 'Josefin Slab', serif;
  font-size: 17px;
  font-weight: bold
}

.resumeHeader {
  display: flex;
  flex-direction: column;
  align-items: center
}

.nameText {
  font-family: 'Press Start 2P'
}

.languagesText {
  font-family: 'Press Start 2P'
}

.scrollContainer {
  scroll-behavior: smooth
}

.jumbo {
  width: 70%;
  box-shadow: 20px 10px;
  border: 1px solid black
  
}

.bold {
  font-weight: bold
}


.columnIt{
  display: flex;
  flex-direction: column;
  align-items: center
}
.languages {
  font-family: 'Schoolbell'
}

.content {
  display: flex;
  justify-content: center
}
.resumePaper {
  text-align: left;
  height: 50%;
  background-color: white;
  margin: 100px;
  width: 900px;
  height: auto;
  padding: 20px;
  box-shadow:12 20
  
}

.specialtytextstyle {
  font-family: 'Rancho'
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.drawer {
  background: #8A2387;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
